name: polyglot-lab-dev

networks:
  polyglot-net:
    driver: bridge

services:
  golang-gin-app:
    image: golang-gin-app:dev
    pull_policy: build
    build:
      context: ../golang-gin
      dockerfile: Dockerfile
      args:
        RUN_TESTS: "false"
        SERVICE_NAME: "golang-gin-app"
        VERSION: "1.0.0"
        BUILD_TIME: ${BUILD_TIME:-unknown}
    container_name: golang-gin-app
    env_file:
      - ../golang-gin/.env.dev
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:8080"
    networks:
      - polyglot-net

  java-springboot-app:
    image: java-springboot-app:dev
    pull_policy: build
    build:
      context: ../java-springboot
      dockerfile: Dockerfile
      args:
        RUN_TESTS: "false"
        SERVICE_NAME: "java-springboot-app"
        VERSION: "1.0.0"
        BUILD_TIME: ${BUILD_TIME:-unknown}
    container_name: java-springboot-app
    env_file:
      - ../java-springboot/.env.dev
    restart: unless-stopped
    ports:
      - "127.0.0.1:8082:8080"
    networks:
      - polyglot-net

  python-django-app:
    image: python-django-app:dev
    pull_policy: build
    build:
      context: ../python-django
      dockerfile: Dockerfile
      args:
        RUN_TESTS: "false"
        SERVICE_NAME: "python-django-app"
        VERSION: "1.0.0"
        BUILD_TIME: ${BUILD_TIME:-unknown}
    container_name: python-django-app
    env_file:
      - ../python-django/.env.dev
    restart: unless-stopped
    ports:
      - "127.0.0.1:8083:8080"
    networks:
      - polyglot-net
